.DS_Store
.classpath
.project
.settings
target/
out/
template/
image/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
*.class
*.iml
.idea/*
node_modules/
*.patch

/bin/
